.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  text-align: center;
  gap: 20px;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  width: 80%;
  padding: 10px;
}
.grid div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  padding: 10px;
}
img {
  display: block;
  margin: auto;
  width: 40%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
